name: my_movie_search
description: "Aperture: Search for movies and tv shows."

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: none # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.1.0

environment:
  sdk: '>=3.10.4'

dependencies:
  
  # Note: use "dart pub outdated" to find libraries that should be upgraded
  bloc: ^9.2.0                          # Assist with the BLoC design pattern.
  
  cached_network_image: ^3.4.1          # preload large images
  cloud_firestore: ^6.1.1               # Store data in Firebase Firestore cloud database
  
  cupertino_icons: ^1.0.4               # iOS style icons.
  #device_info_plus: ^10.1.0             # get infomation about the manufacturer of the phone
  
  easy_debounce: ^2.0.3                 # manage the frequency fo requests
  easy_image_viewer: ^1.5.1
  equatable: ^2.0.3                     # Simplify object comparisons.

  firebase_auth: ^6.1.3                 # Authenticate users against Firebase
  firebase_core: ^4.3.0                 # Firebase initialisation
  #firebase_ui_auth: ^1.7.0              # does not work on linux :(
  #firebase_core: ^1.0.3                 # Firebase initialisation
  #firebase_auth: ^3.0.1                 # Authenticate users against Firebase
  #cloud_firestore: ^2.4.0               # Store data in Firebase Firestore cloud database
  
  firedart: ^0.9.8                      # dart native wrapper to firebase API
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1                  # Assist with the BLoC design pattern.
  flutter_custom_tabs: ^2.4.1           # replace webview with android chrome browser
  flutter_dotenv: ^6.0.0                # Read secrets and settings from .env file.
  flutter_inappwebview: ^6.0.0          # A webview that can be controlled programatically


  flutter_localizations:
    sdk: flutter



  go_router: ^17.0.1                    # screen navigation
  googleapis: ^15.0.0                   # interact with GCP resources  
  googleapis_auth: ^2.0.0               # log in to google API with service accounts
  grpc: ^4.2.0                         # extended firedart error handling
  html: ^0.15.5                         # Dart dom and html utilities.
  html_unescape: ^2.0.0                 # decode &apos;
  # hydrated_bloc: ^9.1.2                # automatic restoration for bloc data
  intl: ^0.20.2                         # internationalisation including number and data formatting.
  lint: ^2.0.1
  logger: ^2.6.2                        # Log trace messages to console.
  ####logger_flutter: ^0.7.1             # Shake device to see trace messages.
  meilisearch: ^0.17.1
  meta: ^1.11.0                         # extended annotations
  mutex: ^3.1.0
  path: ^1.9.0                          # File path manipulation library
  path_provider: ^2.1.5                 # Device filesystem access for accessing database files.

  path_provider_linux: ^2.2.1           # Device filesystem access for accessing filesytstem during testing. 
  provider: ^6.0.5                      # so ChangeNotifierProvider can notify change to firebase login state
  quiver: ^3.2.2                        # mega library incluing ranges, caches, collections, etc.

  simple_barcode_scanner: ^0.4.0        # DOES NOT COMPILE with flutter 3.24
  #sqflite: ^2.0.2                       # Database storage for persisting state across sessions.
  sqflite_common_ffi: ^2.4.0+2          # Database storage for persisting state across sessions.
  sqlite3: ^3.0.0                       # Database storage for persisting state across sessions.
  universal_io: ^2.3.1                  # Consistent environment variable fetching and CORS http gets across web&mobile platforms.
  url_launcher: ^6.3.1                  # for hyperlinks e.g. https://pub.dev/documentation/url_launcher/latest/link/Link-class.html
  yaml: ^3.1.3                          # parse yaml files

dependency_overrides:
  grpc: ^4.2.0                          # linux based firedart has not been updated to latest dependencies
  protobuf: ^4.2.0                      # linux based firedart has not been updated to latest dependencies
  web: ^1.0.0                           # force firebase to use newer version of web
 # win32: ^5.5.3                        # if above libraries need to be forced to use updated versions of a dependent library

dev_dependencies:
  build_runner: ^2.10.4
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  mockito: ^5.6.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  assets:
   - assets/
   - assets/images/
   - integration_test/web_fetch_imdb_json_filtered_integration_test.json
   - integration_test/web_fetch_imdb_json_paginated_integration_test.json
   - pubspec.yaml


  fonts:
     - family: Lato
       fonts: 
         - asset: fonts/Lato-Regular.ttf
         - asset: fonts/Lato-Black.ttf
           weight: 700
         - asset: fonts/Lato-BlackItalic.ttf
           weight: 700
           style: italic
         - asset: fonts/Lato-Italic.ttf
           style: italic
         - asset: fonts/Lato-Light.ttf
         - asset: fonts/Lato-LightItalic.ttf
           style: italic
         - asset: fonts/Lato-Thin.ttf
         - asset: fonts/Lato-ThinItalic.ttf
           style: italic



  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
